<ion-view view-title="MUSIC GEN">
    <ion-content>
        <div>
            <p>
                MUSIC GEN by 
                <a href="#" onclick="window.open('http://chemicaldevelopment.us', '_system');">Chemical Development</a>
            </p>
            <p>
                Based on code from
                <a href="#" onclick="window.open('http://jsat.io/blog/2015/03/26/pop-ballad-generator/', '_system');">Pop Ballad Generator by Jack's on Stacks on Racks</a>
            </p>
        </div>
    </ion-content>
</ion-view>
