<ion-view view-title="POP MUSIC GEN">
    <ion-content>
        <div id="myContainer">

            <div class="button-bar">
                <button class="button button-balanced" ng-click="start()" ng-hide="isRunning">
                    Start
                </button>
                <button class="button button-assertive" ng-click="end()" ng-show="isRunning">
                    Stop
                </button>
                <button class="button button-energized" ng-click="resetAll()">
                    Reset
                </button>
            </div>
            <div class="list">

                <label class="item item-input item-select">
                    <div class="input-label">
                        Key
                    </div>
                    <select ng-model="$parent.selectedKey" ng-change="updateKey(selectedKey)" ng-options="value as key for (key , value) in keyValues"></select>
                </label>

                <label class="item item-input item-select">
                    <div class="input-label">
                        Waveform
                    </div>
                    <select ng-model="$parent.waveform" ng-change="updateWaveform(waveform)" ng-options="value as key for (key , value) in waveforms"></select>
                </label>

                <label class="item item-input item-select">
                    <div class="input-label">
                        Octave
                    </div>
                    <select ng-model="$parent.selectedOctave" ng-change="updateOctave(selectedOctave)" ng-options="value for value in octaves"></select>
                </label>

                <label class="item item-input item-select">
                    <div class="input-label">
                        Range
                    </div>
                    <select ng-model="$parent.selectedRange" ng-change="updateRange(selectedRange)" ng-options="value for value in ranges"></select>
                </label>

                <label class="item item-input-inset">
                    <div class="input-label">
                        Tempo
                    </div>
                    <div class="item range range-positive tempoInputRange">
                        <input type="range" name="tempo" min="40" max="160" ng-model="$parent.selectedTempo" ng-model-options='{ debounce: 500 }' ng-change="updateTempo(selectedTempo)">
                    </div>
                </label>
            </div>
        </div>
    </ion-content>
</ion-view>
