<ion-view view-title="MUSIC GEN">
    <ion-content>
        <div id="myContainer">

            <div class="button-bar">
                <button class="button button-balanced" ng-click="vm.start()" ng-hide="vm.isRunning">
                    Start
                </button>
                <button class="button button-assertive" ng-click="vm.end()" ng-show="vm.isRunning">
                    Stop
                </button>
                <button class="button button-energized" ng-click="vm.resetAll()">
                    Reset
                </button>
            </div>
            <div class="list">

                <label class="item item-input item-select">
                    <div class="input-label">
                        Key
                    </div>
                    <select ng-model="vm.selectedKey" ng-change="vm.restart()" ng-options="value as key for (key , value) in vm.keyValues"></select>
                </label>

                <label class="item item-input item-select">
                    <div class="input-label">
                        Progression
                    </div>
                    <select ng-model="vm.selectedChordProg" ng-change="vm.restart()" ng-options="value as key for (key , value) in vm.chordProgs"></select>
                </label>

                <label class="item item-input item-select">
                    <div class="input-label">
                        Waveform
                    </div>
                    <select ng-model="vm.waveform" ng-change="vm.restart()" ng-options="value as key for (key , value) in vm.waveforms"></select>
                </label>

                <label class="item item-input item-select">
                    <div class="input-label">
                        Octave
                    </div>
                    <select ng-model="vm.selectedOctave" ng-change="vm.restart()" ng-options="value for value in vm.octaves"></select>
                </label>

                <label class="item item-input item-select">
                    <div class="input-label">
                        Range
                    </div>
                    <select ng-model="vm.selectedRange" ng-change="vm.restart()" ng-options="value for value in vm.ranges"></select>
                </label>

                <li class="item item-toggle">
                    Suspended Chords
                    <label class="toggle toggle-assertive">
                        <input type="checkbox" ng-model="vm.suspendedChords">
                        <div class="track">
                            <div class="handle"></div>
                        </div>
                    </label>
                </li>

                <label class="item item-input-inset">
                    <div class="input-label">
                        Tempo
                    </div>
                    <div class="item range range-positive tempoInputRange">
                        <input id="tempoInput" type="range" name="tempo" min="40" max="200" ng-model="vm.selectedTempo" ng-model-options='{ debounce: 500 }' ng-change="vm.updateTempo()">
                        <output name="tempoText" for="tempoInput">{{vm.selectedTempo}}</output>
                    </div>
                    
                </label>
            </div>
            <div>
                <label class="item item-input item-select">
                    <div class="input-label">
                        Visualization
                    </div>
                    <select ng-model="vm.visualSetting" ng-change="vm.updateVisualization()">
                        <option>off</option>
                        <option>wave</option>
                        <option>bars</option>
                    </select>
                </label>
                <div ng-hide="vm.visualSetting == 'off'">
                    <canvas id="canv" width="512" height="128" style="width: 100%;"></canvas>
                    <ul class="list">

                        <li class="item item-toggle">
                            Melody
                            <label class="toggle toggle-assertive">
                                <input type="checkbox" ng-model="vm.visualizeMelody" ng-change="vm.updateVisualizationMelody()">
                                <div class="track">
                                    <div class="handle"></div>
                                </div>
                            </label>
                        </li>

                        <li class="item item-toggle">
                            Chord 1
                            <label class="toggle toggle-assertive">
                                <input type="checkbox" ng-model="vm.visualizeChor1" ng-change="vm.updateVisualizationChor1()">
                                <div class="track">
                                    <div class="handle"></div>
                                </div>
                            </label>
                        </li>

                        <li class="item item-toggle">
                            Chord 2
                            <label class="toggle toggle-assertive">
                                <input type="checkbox" ng-model="vm.visualizeChor2" ng-change="vm.updateVisualizationChor2()">
                                <div class="track">
                                    <div class="handle"></div>
                                </div>
                            </label>
                        </li>

                        <li class="item item-toggle">
                            Chord 3
                            <label class="toggle toggle-assertive">
                                <input type="checkbox" ng-model="vm.visualizeChor3" ng-change="vm.updateVisualizationChor3()">
                                <div class="track">
                                    <div class="handle"></div>
                                </div>
                            </label>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>
